[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "pytorch"
verify_ssl = true
name = ""

[[source]]
url = "pytorch-cu118"
verify_ssl = true
name = ""

[[source]]
url = "pytorch"
verify_ssl = true
name = ""

[[source]]
url = "pytorch"
verify_ssl = true
name = ""

[[source]]
url = "pytorch"
verify_ssl = true
name = ""

[[source]]
url = "pytorch"
verify_ssl = true
name = ""

[[source]]
url = "pytorch"
verify_ssl = true
name = ""

[[source]]
url = "pytorch"
verify_ssl = true
name = ""

[[source]]
url = "pytorch"
verify_ssl = true
name = ""

[[source]]
url = "pytorch"
verify_ssl = true
name = ""

[packages]
numpy = "*"
pandas = "*"
torchmetrics = "*"
matplotlib = "*"
pillow = "*"
torch = {version = "*", index = ""}
torchvision = {version = "*", index = ""}
torchaudio = {version = "*", index = ""}
torchtext = {version = "*", index = ""}
nltk = "*"
scikit-learn = "*"
transformers = "*"
sentencepiece = "*"

[dev-packages]

[requires]
python_version = "3.12"
